{% if user.is_authenticated %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'practice/styles.css' %}">
{% include "practice/header.html" %}
<div id='followForm'>
<p>Type the username of the person you want to follow!</p>
<form method="post">
{% csrf_token %}
{% if boo == False %}
<p style="color:red">No user with the name {{ tUser }}. Please try again with a different username</p>
{% elif boo == True %}
<p> Successfully followed {{ tUser }}!</p>
{% endif %}
{{ form }}
<button type="submit">Follow</button>
</form>
<div class='feed'>
<h2>list of users you follow</h2>
<div id="followfeed">
{% for fol in p1Follows %}
<div class="feedPosts" id="followfeedposts">
<fieldset>
{{ fol.username }}
</fieldset>
</div>
{% endfor %}
</div>
</div>

</div>
{% else %}
You're not logged in. Please login to see this page.
{% endif %}