{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'practice/styles.css' %}">
{% include "practice/header.html" %}

<h2 style="margin-bottom: 0;">The Ridgefield Library</h2>
<h3 style="margin-top: 0;"><i>Published on </i></h3>
<div style="width: 800px; margin: auto;">
<p>
The Ridgefield Library is in my opinion, one of the star attractions of Ridgefield. As the name suggests, the library resides in Ridgefield, a small 
but wealthy town in southern Connecticut, about an hour's drive from New York City. Ridgefield, being the bougie 
town it is, allocates a sizable chunk of money to it's arts program, and this shows. Walking down main street, 
It is impossible to miss the large number of non-profit galleries waiting to be discovered. These galleries 
represent the importance of Ridgefield's cultural identity, so the library in turn created programs that emphasize 
the town's treasures. It takes things a step further by exibiting galleries of it's own. While in the Library, 
I experienced about a dozen paintings by a local painter. That's something the library is particularly good at. 
Representing it's community.
<br><br>
Everything from the community programs and events, down to the contemporary architecture reflects the community of Ridgefield. 
As you walk into the main building from the parking lot, you're greeted with a spacious lobby area where you can go straight into the 
first floor of the library, or down the stairs going to the conference rooms and gallery. On the wall to the left hangs a tapestry alongside
a quote by Emily Dickinson. 
<br><br>
<i>"Hope is the thing with feathers &ensp; That perches in the soul &ensp; And sings the tune without the words &ensp; And never stops at all"</i> 
<br><br>
Without a doubt this is a beautiful quote, and the tapestry that goes along with it is also stunning. Unfortunately without context, 
the quote lacks relevancy and is left as only beautiful. All the same, it is a welcoming first sight. 
Continuing through the glass double doors is the first floor. While there 
are a few shelves of books and DVDs, they are not the room's highlight. The high ceiling, wooden floorboards with matching wall paneling, and floor to ceiling 
windows make the area feel spacious and natural, as if one is still outside. The atmosphere that's created, especially by the full wall windows, 
is what I think captures the essence of Ridgefield. It is an upscale modern design hidden behind natural wood colors and materials. 
Along the left wall sits a row of small but usable desks for personal study, and in the center of the room are a few shelves of books and DVDs. 
Three shelves of DVDs is servicable but nothing special. A double door on the right wall lead to the children's room. Now the library was beginning to look more 
traditional with it's wall to wall carpeted floors and numerous wooden half shelves (so kids can reach the top row) of books. Something that stands out is the 
small half floor towards the back of the room. It holds a few more bookshelves as well as a cozy reading area. In a building that feels so modern, this small 
touch give the library a more cozy feeling, which helps deliver a relaxed aura. It helps balance out the exciting design of the main enterence.
<br><br>
The second floor is where the main bulk of non children books are held. It is also home to several study rooms and computer labs. There is a large enough selection of 
books, somewhere in the ballpark range of 90,000. This is slightly more than the average public library in the United States <a href="https://nces.ed.gov/fastfacts/display.asp?id=42" class='hlinks'>which sits at around 81,000 books</a>. 
There's not too much to say about the floor layout itself, except how it overlooks the first floor. 
But the second floor also contains my favorite room in the library. The original enterance to the building before it's renovation in 2014 is the only part of the 
library that remains untouched. When using this enterence, one is greeted with white marble flooring and colonial collumns to match. To the left and right are 
two large dens designed for reading, and in each room are a series of couches that allow readers to really veg out. Hanging on the walls are portraits of various 
official looking people. These rooms are the only real silent sections, as they're specifically designed for reading. And what a place to read! Similar to the childrens room,
the silent rooms break the modern mold that the renovated library creates. Although the area may flash "DO NOT TOUCH" in your brain, I think it's a nice change of scenery. 
<br><br>
Lastly we'll discuss the basement. This was the first room I saw when I took my tour of the library, since I parked in the back lot. This is where the Gallery I spoke about is held. It's 
essentially a hallway with art along the right wall. It seems like a good use of space, but I could see it being very restrictive if more than a handful of people were around, especially 
if the artist is presenting his/her work as well. There are general purpose conference rooms off to the sides of the hall, which also double as presentation spaces 
for guest speakers to come in. Again, there isn't too much to say about the basement. The floor seems more business oriented, with all the walls are painted white, and plastic desk chairs in each room. 
If you're interested in art it may be worth checking to see if there are any exhibits, but otherwise there's really no point to heading downstairs.
<br><br>
Now we should talk about the different programs the library offers. Programs in general offer the community outreach neccessary to be active and involved in ones local area. 
They promote the library itself, while also acting as a hub for education and the arts. If there's one thing the Ridgefield library doesn't lack, it's programs. 
To find out more about the library's current and future goals, I talked with Andy Forsyth. She's the Assistant Library Director, 
and is responsible for the library's operations. 
</p>
</div>